#container-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

#result-div{
    grid-column: 1/2;
    margin-right: 15px;
    margin-top: 15px;
}

#sumbit-btn{
    width: 100px;
    height: 50px;
}


#result-para{
    position: absolute;
    margin-left: 175px;
    margin-top: 15px;
    font-size: x-large;
    font-weight: bold;
}

#result-div li{
    margin-left: 15px;
    margin-top: 50px;
    font-weight: bold;
}


#image-div{
    grid-column: 2/-1;
    border: 4px solid #e8505b;
    width: 800px;
    margin-top: 50px;
    height: 300px;
    background-color: #f3ecc2;
}

header{
    height: 100px;
    color: white;
    background-color: #e8505b;
    width: auto;
}

header h1{
    position: absolute;
    display: inline;
    font-family: cursive;
    margin-left: 25px;
    margin-bottom: 5px;
}

#left-image{
    margin-left: 45px;
    margin-right: 35px;
    margin-top: 50px;
}

#center-image{
    margin-right: 35px;
}

img{
    height: 200px;
    width: 200px;
    border: 4px solid #e8505b;
}

p{
    display: inline;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

input, label, button{
    margin-top: 25px;
    margin-left: 15px;
    font-weight: bolder;
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
}

button{
    background-color: #e8505b;
    color: white;
    width: 75px;
    font-weight: bolder;
}

body{
    height: 1800px;
}

main{
    height: 100%;
    background-color: #f9d56e ;
}

footer{
    position: relative;
    height: 50px;
    background-color: #e8505b;
    color: white;
}

footer p{
    position: absolute;
    margin-top: 50px;
    margin-left: 15px;
    font-size: x-large;
}

#result-div{
    border: 4px solid #e8505b;
    background-color: #f3ecc2;
    
}

#show-btn{
    margin-left: 525px;
    margin-top: 15px;
    width: 200px;
    height: 50px;
}